.wp-block-gatherpress-modal {
	display: none;
	max-width: none !important;
	position: fixed !important;
	z-index: 30;
	inset: 0;

	> div {
		position: absolute;
		inset: 50% auto auto 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}
}
