@import "../mixins";
@import "../rsvp-response/style";
@import "../rsvp/style";

.gp-events-list {

	&__header {
		display: flex;
		gap: 2rem;
		margin-bottom: 1rem;
	}

	&__info {
		padding: 0;
		flex-grow: 1;
	}

	&__image {
		flex-shrink: 0;
		float: right;
		margin: 0 0 1rem 1rem;

		a {
			display: block;
		}
	}

	&__datetime {
		margin-bottom: 0.5rem;
		padding: 0;
		text-transform: uppercase;
	}

	&__title {
		margin-bottom: 1rem;
		padding: 0;
	}

	&__excerpt {
		margin-bottom: 1rem;

		p {
			margin: 0;
			padding: 0;
		}
	}

	&__venue {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-bottom: 1rem;
	}

	&__footer {
		margin-bottom: 2rem;
		border-bottom: 1px solid #ccc;
		padding-bottom: 2rem;
		display: flex;

		.gp-rsvp-response {

			&__items {
				display: flex;
				gap: 0;
				flex-grow: 2;
			}

			&__member-avatar {
				margin-left: -1rem;
				margin-bottom: 0;
				width: 3.125rem;
				display: flex;
				align-items: center;

				&:first-child {
					margin-left: 0;
				}

				img {
					width: 3.125rem;
				}
			}
		}

		.gp-rsvp {
			margin-bottom: 0;
		}
	}
}
