{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting"
	],
	"env": {
		"browser": true
	},
	"rules": {
		"@wordpress/i18n-text-domain": [
			"error",
			{
				"allowedTextDomain": "gatherpress"
			}
		],
		"yoda": [
			"error",
			"always",
			{
				"exceptRange": true
			}
		]
	}
}
