<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	verbose="true"
	>
	<testsuites>
		<testsuite name="test">
			<directory prefix="class-test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes/core</directory>
			<directory suffix=".php">./includes/buddypress</directory>
		</whitelist>
	</filter>
	<coverage>
		<include>
			<directory suffix=".php">buddypress</directory>
			<directory suffix=".php">core</directory>
		</include>
	</coverage>
</phpunit>
