<phpunit
	bootstrap="test/unit/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	verbose="true"
	>
	<testsuites>
		<testsuite name="test">
			<directory prefix="class-test-" suffix=".php">./test/unit/php/</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>multisite</group>
		</exclude>
	</groups>
	<coverage>
		<include>
			<directory suffix=".php">./includes/core/classes</directory>
		</include>
	</coverage>
</phpunit>
