.wp-block-gatherpress-form-field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;

	&.gatherpress-form-field--checkbox {
		flex-direction: row;
		align-items: center;
		gap: 0.75rem;

		label {
			font-weight: 400;
			font-size: 85%;
		}
	}

	&.gatherpress-inline-layout {
		flex-direction: row;
	}

	.gatherpress-radio-option {
		display: flex;
		align-items: center;
		gap: 0.75rem;

		label {
			font-weight: 400;
			font-size: 90%;
		}
	}

	label {
		cursor: pointer;
	}

	label, legend {
		font-weight: 500;
	}

	input,
	textarea {
		box-sizing: border-box;
		margin: 0;
	}

	.gatherpress-label-wrapper {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.gatherpress-label-required {
		font-size: 75%;
		font-weight: 400;
	}
}
