.wp-block-gatherpress-form-field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&.gatherpress-field-type-checkbox {
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		gap: 0.75rem;

		label {
			font-weight: 400;
			font-size: 85%;
		}
	}

	&.gatherpress-side-by-side {
		flex-direction: row;
	}

	.gatherpress-radio-option {
		display: flex;
		align-items: center;
		gap: 0.75rem;

		label {
			font-weight: 400;
			font-size: 85%;
		}
	}

	label, legend {
		font-weight: 500;
	}

	input {
		margin: 0;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="number"],
	textarea {
		padding: 1rem;
		width: 100%;
	}

	.gatherpress-label-wrapper {
		display: flex;
		align-items: anchor-center;
		gap: 0.25rem;
	}

	.gatherpress-label-required {
		font-size: small;
		opacity: 0.6;
		font-weight: 400;
	}
}
