.wp-block-gatherpress-rsvp-anonymous-checkbox {
	display: flex;
	align-items: center;
	gap: 1rem;

	&.alignleft {
		float: none;
		justify-content: left;
	}

	&.alignright {
		float: none;
		justify-content: right;
	}

	&.aligncenter {
		justify-content: center;
	}
}
