@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variable",
	"abstracts/function",
	"abstracts/mq",
	"abstracts/mixin";

// 2. Vendors
@import "vendors/normalize",
	"vendors/print";

// 3. Base stuff
@import "base/base",
	
	"base/typography",
	"base/helper";

// 4. Layout-related sections
@import "layout/comment",
	"layout/content",
	"layout/footer",
	"layout/header",
	"layout/navigation",
	"layout/pagination",
	"layout/sidebar",
	"layout/site";

// 5. Components
@import "components/author",
	"components/avatar",
	"components/button",
	"components/form",
	"components/gallery",
	"components/block",
	"components/object",
	"components/search",
	"components/table",
	"components/widget";

// 6. Page-specific styles
@import "pages/home",
	"pages/archive",
	"pages/page";

// 7. Themes
@import "themes/default";
