// Mixins
@mixin for-core-tablet {
	@media screen and (max-width: 782px) { @content; }
}

@mixin for-core-mobile {
	@media screen and (max-width: 600px) { @content; }
}

@mixin for-core-narrow {
	@media screen and (max-width: 400px) { @content; }
}

@import "src/blocks/attendance-selector/style";
@import "src/blocks/attendance-list/style";
@import "src/blocks/event-date/style";
@import "src/blocks/events-list/style";
@import "src/blocks/venue-information/style";
