// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
	font-family: 'Gotham';
	src: url('./../../fonts/Gotham-Medium.eot');
	src: url('./../../fonts/Gotham-Medium.woff2') format('woff2'),
		 url('./../../fonts/Gotham-Medium.woff') format('woff'),
		 url('./../../fonts/Gotham-Medium.ttf') format('truetype'),
		 url('./../../fonts/Gotham-Medium.otf') format('opentype'),
		 url('./../../fonts/Gotham-Medium.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('../fonts/Gotham-Book.eot');
	src: url('../fonts/Gotham-Book.woff2') format('woff2'),
		 url('../fonts/Gotham-Book.woff') format('woff'),
		 url('../fonts/Gotham-Book.ttf') format('truetype'),
		 url('../fonts/Gotham-Book.otf') format('opentype'),
		 url('../fonts/Gotham-Book.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}
