.gp-attendance-list {
	&__navigation {
		display: flex;
		gap: 1rem;

		&--item {
			margin-bottom: 1rem;
			gap: 0.2rem;
			opacity: 0.65;
		}

		&--current {
			opacity: 1;
		}
	}

	&__items {
		flex-wrap: wrap;
		gap: 1rem;

		&--item {
			margin-bottom: 1rem;
			gap: 1rem;
		}
	}

	&__active {
		display: flex;
	}

	&__hidden {
		display: none;
	}

	&__member-avatar {
		.wp-block-image {
			margin-bottom: 0;
		}
	}

	&__anchor {

		&--current {
			opacity: 1;
		}
	}
}
