@import "../mixins";

.gp-venue__full-address-row,
.gp-venue__phone-row,
.gp-venue__website-row {
	display: flex;
}

.gp-venue__full-address-row {
	justify-content: center;
}

.wp-block-gatherpress-venue-information.alignwide,
.entry-content > .wp-block-gatherpress-venue-information.alignwide {
	max-width: 88%;
}

.wp-block-gatherpress-venue-information.alignfull {
	max-width: 100%;
	padding: 1rem 0;
}

.gp-venue {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__row {
		display: flex;
		justify-content: flex-start;
	}

	&__icon {
		display: flex;
		align-items: flex-start;
		padding-top: 0.4rem;
	}

	&__item {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	&__gap {
		gap: 2rem;
	}
}
