@import "../mixins";

.gp-venue__full-address-row,
.gp-venue__phone-row,
.gp-venue__website-row {
    display: flex;
}

.gp-venue__full-address-row {
    justify-content: center;
}
.gp-venue {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__row {
		display: flex;
        justify-content: space-between;
	}

	&__icon {
		display: flex;
		align-items: flex-start;
		padding-top: 0.4rem;
	}

	&__item {
		display: flex;
		gap: 1rem;
	}

	&__gap {
		gap: 2rem;
	}
}
