
.wp-block-gatherpress-venue-information {
	padding: 1rem;
	border: 2px solid green
}


.gp-venue-information {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__row {
		display: flex;
	}

	&__icon {
		display: flex;
		align-items: flex-start;
		padding-top: 0.4rem;
	}

	&__item {
		display: flex;
		gap: 1rem;
	}

	&__gap {
		gap: 2rem;
	}
}
