.wp-block-gatherpress-rsvp-response-toggle {
	display: flex;

	&.aligncenter {
		justify-content: center;
	}

	&.alignleft {
		float: none;
		justify-content: flex-start;
	}

	&.alignright {
		float: none;
		justify-content: flex-end;
	}
}
