// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: #222222;

/// Main brand color
/// @type Color
$brand-color: #0073e5;

/// White
/// @type Color
$white: #ffffff;

/// Black
/// @type Color
$black: #000000;

/// Set same greys in config/editor-color-palette.php

/// Light grey
/// @type Color
$light-grey: #F8F8F8;

/// Medium grey
/// @type Color
$medium-grey: #999999;

/// Dark grey
/// @type Color
$dark-grey: #444444;
$darker-grey: #0A0A0A;
$darkest-grey: #101010;
$darkest-gray2: #090909;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
$max-site-width: 1800px !default;
$slider-height: 420px !default;
$slider-height-mobile: 350px !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
