@import "../mixins";

.gatherpress-add-to-calendar {
	position: relative;

	&__icon {
		align-items: flex-start;
		display: flex;
	}

	&__item {
		align-items: center;
		display: flex;
		gap: 0.75rem;
	}

	&__list {
		border: 1px solid #ccc;
		border-radius: 0.4rem;
		flex-direction: column;
		overflow: hidden;
		position: absolute;
		width: 15rem;
		z-index: 9999; // Leaflet/OSM map has high z-index.
	}

	&__list-item {
		border-top: 1px solid #ccc;
		margin-top: -1px;

		a {
			background-color: #fff;
			color: #000;
			display: block;
			padding: 0.5rem;

			&:hover {
				background-color: #eee;
			}
		}
	}

	&__row {
		display: flex;
	}
}
