@import "../mixins";

.gp-add-to-calendar {
	position: relative;

	&__row {
		display: flex;
	}

	&__icon {
		display: flex;
		align-items: flex-start;
	}

	&__item {
		display: flex;
		gap: 0.75rem;
		align-items: center;
	}

	&__list {
		flex-direction: column;
		border-radius: 0.4rem;
		border: 1px solid #ccc;
		overflow: hidden;
		width: 15rem;
		position: absolute;
	}

	&__list-item {
		border-top: 1px solid #ccc;
		margin-top: -1px;

		a {
			color: #000;
			background-color: #fff;
			display: block;
			padding: 0.5rem;

			&:hover {
				background-color: #eee;
			}
		}
	}
}
