/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gatherpress-block-starter {
	border: 1px dotted #f00;

	input[type="text"] {
		font-family: Gilbert, sans-serif;
		font-size: 36px;
	}
}
