@import "../mixins";
@import "../modal";
@import "../status";
@import "../buttons";

.gp-rsvp {
	display: flex;
	grid-column-gap: 1rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.gp-modal__rsvp {
	.gp-modal {
		&__header {
			font-size: var(--wp--preset--font-size--medium);
			font-weight: 600;
		}
	}
}
