@use "../mixins";
@use "../modal";
@use "../status";
@use "../buttons";

.gatherpress-modal__rsvp {
	.gatherpress-modal {
		&__header {
			font-size: var(--wp--preset--font-size--medium);
			font-weight: 600;
		}

		&__guests {
			display: flex;
			gap: 0.5rem;
			margin-bottom: 0.5rem;
		}

		&__anonymous {
			display: flex;
			gap: 0.5rem;
			margin-bottom: 0.5rem;
		}
	}
}

.gatherpress-rsvp {
	align-items: center;
	display: flex;
	grid-column-gap: 1rem;
	justify-content: center;
	margin-bottom: 1rem;
}
