.wp-block-gatherpress-guest-count-input {
	display: flex;
	gap: 1rem;
	&.alignleft {
		float: none;
		justify-content: left;
	}
	&.alignright {
		float: none;
		justify-content: right;
	}
	&.aligncenter {
		justify-content: center;
	}
}
