
.wp-block-gatherpress-venue {
	border: 1px solid #cfcfc4;
}

.wp-block-gatherpress-venue:not(.alignfull) {
	padding: 1rem;
}

.wp-block-gatherpress-venue.alignwide {
	max-width: 88%;
}

.wp-block-gatherpress-venue.alignfull {
	max-width: 100%;
	padding: 1rem 0;
}

.wp-block-gatherpress-venue p > span:not(:first-child) {
	margin-right: 0.2rem;
	margin-left: 1rem;
}

.wp-block-gatherpress-venue p.address-name {
	font-size: 1.2rem;
	font-weight: 600;
}

.wp-block-gatherpress-venue p.address-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
