
.wp-block-gatherpress-venue {
	border: 1px solid lightgray;
}

.wp-block-gatherpress-venue:not(.alignfull) {
	padding: 1rem;
}

.wp-block-gatherpress-venue.alignwide {
	max-width: 88%;
}

.wp-block-gatherpress-venue.alignfull {
	max-width: 100%;
	padding: 1rem 0;
}
