.gatherpress-modal {
	max-width: 20rem;

	&__content {
		display: flex;
		flex-direction: column;
		grid-column-gap: 1rem;
		margin-bottom: 1rem;
	}

	&__header {
		font-size: var(--wp--preset--font-size--large);
		margin-bottom: 1rem;
	}

	&__rsvp-response {
		width: 100%;
	}

	&__text {
		margin-bottom: 1rem;
	}
}
