.gp-modal {
	max-width: 20rem;

	&__rsvp-response {
		width: 100%;
	}

	&__header {
		margin-bottom: 1rem;
	}

	&__text {
		margin-bottom: 1rem;
	}

	&__content {
		display: flex;
		grid-column-gap: 1rem;
		flex-direction: column;
		margin-bottom: 1rem;
	}
}
