@import "../mixins";

.gatherpress-event-date {
	&__icon {
		align-items: flex-start;
		display: flex;
	}

	&__item {
		align-items: center;
		display: flex;
		gap: 0.75rem;
	}

	&__row {
		display: flex;
	}
}
