.wp-block-gatherpress-attendance-selector {
	padding: 1rem;
	border: 2px solid green
}

.gp-attendance-selector {
	display: flex;
	grid-column-gap: 1rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.gp-status {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__response {
		display: flex;
		grid-column-gap: 0.5rem;
		align-items: center;
	}
}

.gp-modal {
	&__header {
		margin-bottom: 1rem;
	}

	&__content {
		display: flex;
		grid-column-gap: 1rem;
		align-items: center;
		margin-bottom: 1rem;
	}

	.gp-buttons {
		display: flex;
		grid-column-gap: 1rem;
	}
}

