.gp-settings {

	&__credits {
		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__credits-featured {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		margin-bottom: 2rem;

		li {
			text-align: center;
			width: 10rem;
		}

		a {
			display: block;
			padding: 1rem;
			font-size: 1.2rem;
			font-weight: 600;
		}

		img {
			border-radius: 999rem;
			margin-bottom: 0.5rem;
		}
	}

	&__credits-list {
		li {
			display: inline-block;
			position: relative;
			margin-right: 4px;

			&:after {
				content: ',';
				position: absolute;
				right: -4px;
			}

			&:last-child:after {
				content: '.';
			}
		}
	}

	.components-form-token-field__input-container {
		background: #fff;
	}
}
