.gatherpress-settings {

	&__credits {

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__credits-featured {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		margin-bottom: 2rem;

		a {
			display: block;
			font-size: 1.2rem;
			font-weight: 600;
			padding: 1rem;
		}

		img {
			border-radius: 999rem;
			margin-bottom: 0.5rem;
		}

		li {
			text-align: center;
			width: 10rem;
		}
	}

	.components-form-token-field__input-container {
		background: #fff;
	}
}
