//.wp-block-gatherpress-modal-content {
//	position: absolute;
//	inset: 50% auto auto 50%;
//	border: 1px solid rgb(204, 204, 204);
//	background: rgb(255, 255, 255);
//	overflow: auto;
//	border-radius: 4px;
//	outline: none;
//	padding: 20px;
//	margin-right: -50%;
//	transform: translate(-50%, -50%);
//	width: 320px;
//}
