.wp-block-gatherpress-venue-map {
	.block-editor-inner-blocks {
		// Create new stacking context to contain Leaflet's z-index values.
		isolation: isolate;
	}

	// Override Leaflet's excessive z-index: 400 on .leaflet-pane.
	.leaflet-pane {
		z-index: 0 !important;
	}
}
