.wp-block-gatherpress-venue-map {
	// Create new stacking context to contain Leaflet's z-index values.
	isolation: isolate;

	&__placeholder {
		padding: 2rem;
		text-align: center;
		background: #f0f0f0;
		border: 1px dashed #ccc;
		color: #666;

		p {
			margin: 0;
		}
	}
}
