.gatherpress--is-visible {
	display: block !important;
}

.gatherpress--is-hidden {
	display: none !important;
}

.gatherpress-modal--trigger-open,
.gatherpress-modal--trigger-close {
	cursor: pointer;
}

.gatherpress--is-disabled {
	pointer-events: none;
	cursor: not-allowed;
	text-decoration: none;
}
