.gatherpress--is-visible {
	display: block !important;
}

.gatherpress--is-hidden {
	display: none !important;
}

.gatherpress--has-modal-trigger {
	cursor: pointer;
}

.gatherpress--is-disabled {
	pointer-events: none;
	cursor: not-allowed;
	text-decoration: none;
}
