.gatherpress--is-visible {
	display: block !important;
}

.gatherpress--is-not-visible {
	display: none !important;
}

.gatherpress--empty-rsvp-message {
	display: none;
}

.gatherpress--open-modal,
.gatherpress--close-modal {
	cursor: pointer;
}
