.gp-past-events {
	&__container {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		margin-bottom: 2rem;
	}

	&__image {
		grid-column: 1;
		grid-row: 1;
		margin: 0;

		img {
			height: auto !important;
		}
	}

	&__content {
		grid-column: 2 / span 2;
		grid-row: 1;
		padding: 0 1rem;
	}

	&__datetime {
		margin: 0 0 0.5rem;
		padding: 0;
	}

	&__title {
		margin: 0 0 0.5rem;
		padding: 0;
	}

	&__excerpt p {
		margin: 0;
		padding: 0;
	}

	.editor-styles-wrapper & {
		&__datetime {
			margin: 0;
			padding: 0;
		}

		&__title {
			margin: 0;
			padding: 0;
		}

		&__excerpt p {
			margin: 0;
			padding: 0;
		}
	}
}
