.gp-attendance-list {
	&__navigation {
		display: flex;
		gap: 1rem;

		&--item {
			margin-bottom: 1rem;
			gap: 0.2rem;
			opacity: 0.65;
			display: flex;
		}

		&--current {
			opacity: 1;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 1rem;

		&--item {
			margin-bottom: 1rem;
			gap: 1rem;
		}
	}

	// &__active {
	// 	@include for-core-mobile {
	// 		grid-template-columns: 1fr 1fr;
	// 	}
	// }

	&__hidden {
		display: none;
	}

	&__member-avatar {
		margin: 0;

		img {
			border-radius: 9999px;
		}
	}

	&__anchor {
		white-space: nowrap;

		&--current {
			opacity: 1;
		}
	}

	&__no-attendees {
		grid-column: 1 / -1;
	}
}

.gp-modal {
	&__attendance-list {
		width: 100%;
	}

	.gp-attendance-list {
		&__items {
			grid-template-columns: 1fr 1fr;

			&--item {
				display: flex;
				width: 18rem;
			}
		}
	}
}
