.gp-upcoming-event {
	&__header {
		display: flex;
		gap: 2rem;
		margin-bottom: 1rem;
		justify-content: space-between;
	}

	&__info {
		padding: 0;
	}

	&__image {
		flex-shrink: 0;
		margin: 0;

		a {
			display: block;
		}
	}

	&__datetime {
		margin-bottom: 0.5rem;
		padding: 0;
	}

	&__title {
		margin-bottom: 1.5rem;
		padding: 0;
	}

	&__excerpt {
		margin-bottom: 1rem;

		p {
			margin: 0;
			padding: 0;
		}
	}

	&__footer {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		display: flex;
		justify-content: flex-end;
	}
}
